/**
 * colors
 */

$magenta ?= #eb008b
$blue ?= #0072FF
$cyan ?= #00d4f0
$green ?= #18d88b
$yellow ?= #ffdd57
$orange ?= #ffdd57
$red ?= #ff3d3d
$purple ?= #a324ea

/*
 * Graysacle
 */
$black ?= #000
$dark ?= #323c47
$gray ?= #dfdfdf
$gray-dark ?= darken($gray, 50%)
$gray-light ?= lighten($gray, 50%)
$light ?= #f5f5f5
$white ?= #fff

/**
 * theme colors
 */
$primary ?= $blue
$secondary ?= $gray-light
$danger ?= $red
$success ?= $green
$warning ?= $orange
$info ?= $cyan
$link ?= $blue
$link-hover ?= $black
