/**
 * colors
 */

$magenta ?= #eb008b
$blue ?= #3057d5
$cyan ?= #5596e6
$green ?= #41d6c3
$yellow ?= #ffdd57
$orange ?= #ffdd57
$red ?= #ff3d3d
$purple ?= #a324ea

/*
 * Graysacle
 */
$black ?= #000
$dark ?= #152935
$gray ?= #dae4f1
$gray-dark ?= darken($gray, 50%)
$gray-light ?= #f4f7fb
$light ?= #f4f7fb
$white ?= #fff

/**
 * theme colors
 */
$primary ?= $blue
$secondary ?= $gray-light
$danger ?= $red
$success ?= $green
$warning ?= $orange
$info ?= $cyan
$link ?= $blue
$link-hover ?= $black
