/**
 * colors
 */
$magenta ?= #F2248F
$blue ?= #2451F2
$cyan ?= #3D8EF2
$green ?= #36D9B0
$yellow ?= #FFCF0D
$orange ?= #fd7e14
$red ?= #F22435

/*
 * Graysacle
 */
$black ?= #000000
$dark ?= #383555
$slategray ?= #9D99BC
$gray ?= #D4D2E5
$light ?= #F6F5FD
$white ?= #FFFFFF

/**
 * theme colors
 */
$primary ?= $blue
$secondary ?= $magenta
$danger ?= $red
$success ?= $green
$warning ?= $yellow
$info ?= $cyan
$link ?= $blue
$link-hover ?= $black
