/**
 * set the start and end direction based on
 * $dir variables
 */
setDirection(state)
  if ($dir == 'ltr')
    return state == 'start' ? left : right

  return state == 'start' ? right : left



/*
 * check if the color name is a light color
 */
isLight(color)
  if (color == 'white' || color == 'light' || color == 'gray' || color == 'secondary')
    return true

  return false
