$font-size = generateFontSizes()

/**
 * elemets sizes
 */
$size-tiny ?= $font-size[2]
$size-small ?= $font-size[3]
$size-normal ?= $font-size[4]
$size-large ?= $font-size[5]
$size-massive ?= $font-size[6]

/**
 * typography
 */
$display-1 ?= $font-size[13]
$display-2 ?= $font-size[12]
$display-3 ?= $font-size[11]
$display-4 ?= $font-size[10]

$header-1 ?= $font-size[9]
$header-2 ?= $font-size[8]
$header-3 ?= $font-size[7]
$header-4 ?= $font-size[6]
$header-5 ?= $font-size[5]
$header-6 ?= $font-size[4]

$font-tiny ?= $font-size[2]
$font-small ?= $font-size[3]
$font-normal ?= $font-size[4]
$font-large ?= $font-size[5]
$font-massive ?= $font-size[6]

$lineheight ?= 1.1875
$font-weight-light ?= 300
$font-weight-normal ?= 400
$font-weight-medium ?= 500
$font-weight-semi-bold ?= 600
$font-weight-bold ?= 700

/**
 * Device Breakpoint
 */
$mobile ?= 0
$tablet ?= 768px
$desktop ?= 991px
$widescreen ?= 1360px
$ultrawide ?= 1920px

/**
 * grid
 */
$columns ?= 12
$dir ?= ltr
$dir-start ?= setDirection('start')
$dir-end ?= setDirection('end')
$gutter ?= toRem(7.5px)
$gutter-full ?= 8vw
$container-mobile ?= calc(100% - 22px)
$container-tablet ?= $tablet - (22 * 2)
$container-desktop ?= $desktop - (22 * 3)
$container-widescreen ?= $widescreen - (22 * 4)
$container-ultrawide ?= $ultrawide - (22 * 5)

/*
 * style
 */
$margin ?= 0.5em
$padding ?= 0.5em
$padding-px ?= 20px
$modal-spacing ?= 2.5em
$border-radius ?= 2px
$border ?= 1px
$outline ?= 3px
$outline-opacity ?= 25%

/**
 * animation
 */
$transition-time ?= 0.4s
$transition-function ?= ease-in-out

/**
 * modifiers
 */
$modifiers-size ?= 'tiny' 'small' 'normal' 'large' 'massive'
$modifiers-style ?= 'block' 'disabled' 'rounded' 
$modifiers-color ?= 'primary' 'secondary' 'info' 'success' 'warning' 'danger' 'black' 'white' 'dark' 'light'