.navbar
  display: flex
  margin: 0
  padding: $padding (2 * $padding)
  width: 100%
  background-color: $white

  &-logo
    height: 28px

  &-brand, &-start, &-end
    display: flex
    flex-wrap: wrap
    align-items: center

  &-brand
    margin-{$dir-end}: $margin
    >*
      max-height: 100%

    &.is-white
      filter: brightness(0) invert(1)

  &-start,
  &-end
    flex: 1
  &-end
    justify-content: flex-end
  &-item
    display: block
    padding: $padding (2 * $padding)
    color: $black
    text-decoration: none
    white-space: nowrap
    cursor: pointer
    _icon-color: $black
    line-height: 1em
    @extends $normal
    .navbar-item
      padding: 0

    &.dropdown
      height: auto

    &:hover, &:focus
      color: $primary
      _icon-color: $primary

    ~/.is-inverse &
      color: $white
      _icon-color: $white

      &:hover, &:focus
        color: $primary
        _icon-color: $primary

    &.is-active
      border-bottom: 4px solid $secondary
      margin-bottom: -4px
      color: $secondary
    &.is-fixed
      position: fixed
      top: 0
      left: 0
      right: 0
      transition: 0.4s

    &.is-inverse
      background-color: $black

    &.is-hidden
      transform: translate3d(0, -100%, 0)
  // reset nested elements
  .button
    margin-bottom: 0