.radio
  @extends .checkbox

  &-input
    border-radius: 10em

    &:after
      width: 70%
      height: 70%
      border: none
      border-radius: 10em
      background: $primary
      transform: none