.calendar
  padding: $padding
  border-radius: $border-radius
  background-color: $white
  border-spacing: 0
  text-align: center

  generateSizes()

  td
    padding: 0.25em
    border-width: $border
    border-style: solid
    border-color: $white
    border-radius: $border-radius
    cursor: pointer

    &.is-previous,
    &.is-following
      color: $gray

    &.is-active
      border-color: $primary
      background-color: $primary
      color: $white

    &:hover,
    &:focus
      border-color: $primary

  th
    padding: 10px 5px
    color: $gray-dark
    font-size: 0.7em
