.file
  margin-bottom: $margin
  padding: $padding ($padding * 1.5)
  width: 100%
  border: 1px solid $gray
  border-radius: $border-radius
  line-height: $element-lineheight
  display: inline-block
  cursor: pointer
  color: $dark
  _icon-color: $dark

  // generate size modifiers
  generateSizes()

  // generate color modifiers
  for color in $modifiers-color
    $accent = lookup('$' + color)
    $text = isLight(color) ? $black : $white
    &.is-{color}
      _file-color: $accent $text


.file-input
  display: none