.file
  margin-bottom: $margin
  padding: $padding ($padding * 1.5)
  width: 100%
  border: 2px dashed $primary
  border-radius: $border-radius
  font-size: $font-normal
  -webkit-appearance: none
  -moz-appearance: none
