.navbar
  display: flex
  margin: 0
  width: 100%
  padding: 0 ($padding  * 2)
  background-color: $white
  font-weight: $font-weight-semi-bold
  @extend $normal


  &-brand
    display: flex
    align-items: center
  &-start,
  &-end
    display: flex
    align-items: center

  &-brand
    margin-{$dir-end}: $margin
    img
      max-height: 40px
      display: block
    &.is-white
      filter: brightness(0) invert(1)

  &-start,
  &-end
    flex: 1
  &-end
    justify-content: flex-end
  &-item
    display: block
    padding: $padding (2 * $padding)
    color: $black
    text-decoration: none
    white-space: nowrap
    cursor: pointer
    _icon-color: $black
    line-height: 40px
    @extends $normal
    .navbar-item
      padding: 0

    &.dropdown
      height: auto

    &:hover, &:focus
      color: $primary
      _icon-color: $primary

    ~/.is-inverse &
      color: $white
      _icon-color: $white

      &:hover, &:focus
        color: $primary
        _icon-color: $primary

    &.is-active
      border-bottom: 4px solid $primary
      margin-bottom: -4px
      color: $primary

  &.is-fixed
    position: fixed
    z-index: 9999
    top: 0
    left: 0
    right: 0
    transition: 0.4s

  &.is-inverse
    background-color: $black

  &.is-hidden
    transform: translate3d(0, -100%, 0)
  // reset nested elements
  .button
    margin-bottom: 0