.sidebar
  padding: $padding 40px
  background-color: $white
  z-index: 999
  scroll-behavior: smooth

.sidebar-label
  font-weight: $font-weight-bold
  padding: 0.75em 1em
  color: $black
  font-size: $font-size[4]

.sidebar-menu,
.sidebar-submenu
  margin: $margin 0
  list-style: none
  padding-{$dir-start}: 0

.sidebar-submenu
  padding-{$dir-start}: 0.5em

.sidebar-wrapper
  overflow: hidden

.sidebar-link,
.sidebar-toggle
  display: block
  border-radius: $border-radius
  padding: 0.75em 1em
  color: $black
  background: transparent
  border: 0
  width: 100%
  text-align: left
  cursor: pointer
  @extend $normal
  &:focus,
  .is-active
    outline: none
    color: $secondary
  &:hover
    color: $secondary

.sidebar-item
  margin-top: 0
  &.is-active
    .sidebar-submenu
      display: block
    .sidebar-toggle
      color: $secondary
      font-weight: $font-weight-medium
      box-shadow: 0 5px 20px alpha($dark, 10%)

.sidebar-submenu
  display: none
  padding: 0.75em 1em
  .sidebar-link
    border-radius: 0
    padding: 0.5em 0.75em
    &.is-active
      color: $secondary
      border-width: 0 0 0 2px
      border-style: solid
      border-color: $secondary