$headers = $header-1 $header-2 $header-3 $header-4 $header-5 $header-6
$header-defaults
  margin-top: 0
  margin-bottom: 0.5em
  line-height: $lineheight
  font-weight: $font-weight-semi-bold

for $header, $n in $headers
  h{$n + 1}, .h{$n + 1}
    font-size: $header
    @extends $header-defaults

for $n in (1..4)
  .display-{$n}
    font-size: lookup('$display-' + $n)

p, body
  @extends $normal