.add
  &-sticky
    position: sticky
    top: $margin

  &-floatRight
    float: right

  &-floatLeft
    float: left

  &-flex
    display: flex

  &-justifyCenter
    justify-content: center

  &-justifyEnd
    justify-content: flex-end

  &-justifyStart
    justify-content: flex-start

  &-justifyAround
    justify-content: space-around

  &-justifyBetween
    justify-content: space-between

  &-alignCenter
    align-items: center

  &-alignEnd
    align-items: flex-end

  &-alignStart
    align-items: flex-start

  &-alignBaseline
    align-items: baseline

  &-alignStretch
    align-items: stretch

  &-padding
    padding: $padding !important

  &-paddingTop
    padding-top: $padding !important

  &-paddingBottom
    padding-bottom: $padding !important

  &-paddingRight
    padding-right: $padding !important

  &-paddingLeft
    padding-left: $padding !important

  &-margin
    margin: $margin !important

  &-marginTop
    margin-top: $margin !important

  &-marginBottom
    margin-bottom: $margin !important

  &-marginRight
    margin-right: $margin !important

  &-marginLeft
    margin-left: $margin !important
