.no
  &-padding
    padding: 0 !important
  &-paddingTop
    padding-top: 0 !important
  &-paddingBottom
    padding-bottom: 0 !important
  &-paddingRight
    padding-right: 0 !important
  &-paddingLeft
    padding-left: 0 !important
    
  &-margin
    margin: 0 !important
  &-marginTop
    margin-top: 0 !important
  &-marginBottom
    margin-bottom: 0 !important
  &-marginRight
    margin-right: 0 !important
  &-marginLeft
    margin-left: 0 !important